.lable-text {
    font-size: 14px;
    font-weight: bold;
}

.line {
    margin: 10px 0;
}

.table-fixed {
    width: 100%;
    background-color: #f3f3f3;
}

.table thead th {
    border-bottom: 2px solid transparent;
}

.table-fixed tbody {
    height: 200px;
    overflow-y: auto;
    width: 100%;
}

.table>tbody>tr.active>td {
    background: #c1c5ca;
    color: #fff;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
    overflow-y: auto;
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead>tr>th {
    float: left;
    position: relative;
    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

.table-fixed-chidinh {
    width: 100%;
    background-color: #f3f3f3;
}

.table-fixed-chidinh tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed-chidinh thead,
.table-fixed-chidinh tbody,
.table-fixed-chidinh tr,
.table-fixed-chidinh td,
.table-fixed-chidinh th {
    display: block;
    overflow-y: auto;
}

.table-fixed-chidinh tbody td,
.table-fixed-chidinh tbody th,
.table-fixed-chidinh thead>tr>th {
    float: left;
    position: relative;
    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

.table-fixed-dropdown {
    width: 100%;
    background-color: #f3f3f3;
}

.table-fixed-dropdown tbody {
    height: 50px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed-dropdown thead,
.table-fixed-dropdown tbody,
.table-fixed-dropdown tr,
.table-fixed-dropdown td,
.table-fixed-dropdown th {
    display: block;
    overflow-y: auto;
}

.table-fixed-dropdown tbody td,
.table-fixed-dropdown tbody th,
.table-fixed-dropdown thead>tr>th {
    float: left;
    position: relative;
    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

.table-fixed-history {
    width: 100%;
    background-color: #f3f3f3;
}

.table-fixed-history tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

.body-history {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed-history thead,
.table-fixed-history tbody,
.table-fixed-history tr,
.table-fixed-history td,
.table-fixed-history th {
    display: block;
    overflow-y: auto;
}

.table-fixed-history tbody td,
.table-fixed-history tbody th,
.table-fixed-history thead>tr>th {
    float: left;
    position: relative;
    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

.table-fixed-process {
    width: 100%;
    background-color: #f3f3f3;
}

.table-fixed-process tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed-process thead,
.table-fixed-process tbody,
.table-fixed-process tr,
.table-fixed-process td,
.table-fixed-process th {
    display: block;
    overflow-y: auto;
}

.table-fixed-process tbody td,
.table-fixed-process tbody th,
.table-fixed-process thead>tr>th {
    float: left;
    position: relative;
    /* &::after {
        content: '';
        clear: both;
        display: block;
    } */
}

select,
option {
    width: 200px;
}

option {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.selectize-input {
    padding: 5px 8px;
    height: 30px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



body{    overflow-x: hidden;}
.wrapper {    width: 100%;}
.pointer{cursor: pointer;}
.font-600{font-weight: 600;}
.font-700{font-weight: 700;}
.font-11{font-size: 11px;}
.font-13{font-size: 13px;}
.font-14{font-size: 14px;}
.font-15{font-size: 15px;}
.font-16{font-size: 16px;}
.font-18{font-size: 18px;}
.font-20{font-size: 20px;}
.form-control-custom {padding: 3px 8px; height: 30px !important; font-size: 13px; }
.form-control {font-size: 13px; }
.btn-custom {width: 135px; box-shadow: 3px 3px 0px 0px #495057; }
.div-in {width: 85px; height: 22px; position: relative; }
.btn-in {width: 100%; box-shadow: 3px 3px 0px 0px #495057; }
.input-group-append-custom {position: absolute; right: 7px; }
.select-custom {width: 23px; height: 32px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.select-custom1 {width: 23px; height: 35px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.option-custom {width: 200px; }
.text-label {font-weight: 600; font-size: 14px; }
.dropdown-custom {float: right; padding: 0 0 0 5px !important; }
.dropdown-custom.dropdown-toggle::after {right: -13px; }
.navbar-expand-lg {padding: 0; }
.table td {padding: 0px 5px; }
.fixed-top {left: 15px !important; top: 24% !important; }
.fixed-top-custom{top: 32% !important; }
.form-control-custom input,.form-control-custom select {width: 100%; }
.nav-link.active{background-color: #1d9d74 !important;}
.lich-su-kham .active{background-color:unset !important;}
.lich-su-kham .nav-tabs .nav-link.active{color: #000;}
.lich-su-kham .nav-tabs .nav-link{padding: 7px 8px;}
.color-red{color: red;}
.color-yellow{color: yellow;}
.color-white{color: #fff;}
.color-blue{color: blue;}
.table thead th{border-bottom: 2px solid #dee2e6 !important;}
.margin-20{margin-right: -20px}
.margin-right-30{margin-right: -30px}
.padding-left-0{padding-left: 0px;}
.padding-right-0{padding-right: 0px;}
.div-left{height: 50%;border: 1px solid #ccc; padding-top: 20px;padding-bottom: 30px;max-width: 23%;}
#sidebar{width: 55%;left: -55%;background: #fafafa;color: #000;}
#mCSB_1_container{height: 100vh}
.tr-active td{color: red;}
.custom-fixed-bottom{z-index: auto;right: 10% !important; left: unset; bottom: 10px;} 
.fixed-bottom-sidebar{position: absolute; left: 1%; bottom: 10px;}
.fixed-bottom-dichvu{  z-index: auto;  right: 8% !important; left: 8%; bottom: 57px;}
.ket-luan{position: relative;font-size: 13px;}
.btn-book{background: #1d9d74;color: white;width: 31px;}
.btn-success{background: #1d9d74;}
.line-height-3{line-height: 3;}
.line-height-4{line-height: 4;}
.fa-address-book,.fa-link{margin-left: -5px;}
.min-width-170{min-width: 170px}
.min-width-150{min-width: 150px}
.min-width-100{min-width: 100px}
.max-width-11{max-width: 11%}
.max-width-12{max-width: 13%}
.max-width-14{max-width: 14%}
.height-35{height: 35px;}
.thong-bao{background: unset !important;
    border: unset;
    color: red;
    font-size: 27px;left: 8px !important;}
.thong-bao .badge-light{position: absolute; left: 32px; color: white; border-radius: 50%; background: red;font-size: 13px;}
.thong-bao svg{width: 30px !important; height: 36px; color:#1d9d74;}
.modal-content{min-height: 70vh;}
.btn-in-lai-ket-qua{left: unset; bottom: 20px; right: 10%;}
.modal-90{max-width: 90%;}
.btn-tien-ich{background: unset; font-weight: 600;}
.btn-tien-ich::after{right: 3px;}
.btn-tien-ich:focus{background: #1d9d74;color: white;}
#ke_thuoc .ke-thuoc{bottom: 20px; right: 8%; left: 8%;}
.custom1-select{border: none; background: #fafafa;width: 130px;}
.header{    background: #007944;
    color: #fff;}
    .tab-menu{
        background: #71a95a;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .container-custom{
        box-shadow: 0px -2px 7px 0px #495057;
    }
    #content{padding: 0;}
    .nav-tabs-custom{border-bottom: none;}
.min-height-50-vh{min-height: 50vh;}
.min-height-85-vh{min-height: 85vh;}
.min-height-65-vh{min-height: 65vh;}
.card-custom{border: none; background: unset;}
.card-custom .card-footer{background: unset;}
.max-width-85{max-width: 85%;}
.nav-tabs-custom1 .nav-link.active{background: unset !important; color: #007944 !important; font-weight: 700;}
.btn-don-thuoc::after{right: 59px}
.margin-bottom-0{margin-bottom: 0;}
.color-warning{color: #f6d55c}
.align-center{align-self: center;}
#sidebarProcess{background: #fff;width: 55%;left: -55%;}
.hover-blue:hover{color: blue;}
.border-none{border: none;}
.form-control-custom1{border: none;height: 28px !important;font-size: 15px;outline: 1;box-shadow: none;}
.width-10{width: 10%;}
.width-11{width: 11%;}
.width-12{width: 12%;}
.width-14{width: 14%;}
.modal-content-custom{height: 78vh;}